// Z Index map
$z-above: 2;
$z-default: 1;
$z-below: -1;

// Font weights
$fw-extra-light: 100;
$fw-light: 200;
$fw-book: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 800;
$fw-extra-black: 900;
